body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #fff;

  color: #237485;
}
.container-fluid {
  padding: 60px 0px;
  .container {

  }
}

@media (max-width: 892px) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}