
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.content-footer{
  background-color: #344150;
  .container{
    .row{
      color: white;
      .social-links {
        display: block;
        overflow: hidden;
      }

      .social-links li {
        display: block;
        float: left;
        padding: 0;
        margin-right: 12px;
      }

      .social-links li > a {
        display: block;
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        background: #3e4e5f;
        background: rgba(255,255,255,0.1);
        border-radius: 50%;
        font-size: 20px;
        background-color: #3e4e5f;
        color: white;
      }

      .social-links li > a.facebook:hover {
        background: #3b5998;
      }

      .social-links li > a.youtube:hover {
        background: #bb0000;
      }

      .social-links li > a.google-plus:hover {
        background: #dd4b39;
      }

      .social-links li > a.pinterest:hover {
        background: #cb2027;
      }

      .social-links li > a.twitter:hover {
        background: #3a92c8;
      }
      .programs-list li.program-moneyback a{
        background: #27ae60;
      }
    }
  }
  .copyright{
    border-top: 1px solid #3e4e5f;
    display: block;
    padding: 24px 0;
    margin-top: 48px;
    .copyright-menu ul{
      display: flex;
      font-size: 12px;
    }
    .copyright-menu ul > li > a.Partners{
      border-left:0;
    }
    .copyright-menu ul > li > a{
      border-left: 1px solid #3e4e5f;
      color: #999999;
    }
    .nav>li>a:focus, .nav>li>a:hover{
      background-color: transparent;
      color: white;
    }
  }
}