.header-demo{
  background-color: #262626;
  color: white;
  float: left;
  width: 100%;
  .container{
    b{
      color: green;
    }
    .logo{
      img {
        margin-top: -7px;
        color: white;
        font-size: 24px;
        height: 22px;
        margin-right: -1px;
      }
      //font-family: Megrim;
      float: left;
      font-size: 24px;
      color: white;
    }
    .nav{
      display: flex;
      text-align: center;
      .item{
        width: 20%;
        color: #ababab;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 20px;
        padding-top: 20.5px;
      }
      .item:hover{
        color: white;
        text-decoration: none;
      }
      .is-active{
        color: white;
        opacity: 1;
      }
    }
  }
}
